.crudContainer {
    margin: 20px auto;
    display: grid;
}

.flexButtons {
    display: flex;
    justify-content: space-evenly;
}

.move {
    position: fixed;
    margin-left: 5%;
    z-index: 1;
}

@media (min-width: 912px) and (max-width: 1368px) {
    .move {
        position: fixed;
        top: 20px;

    }
 }

 @media (min-width: 320px) and (max-width: 851px) {
    .move {
        position: absolute;
        top: 20px;
        right: 5px;

    }
 }

.formContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
    row-gap: 10px;
}

.formContainer .pbut {
    height: 80px;
    grid-row: 4 / 5;
    grid-column: -3 /-1;
    justify-self: center;
    align-self: center;
}

.formControlContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr;
}